*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

#logo{
    color: blueviolet;
}


/***
#global-menu{
    ul{
        li{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: flex-end;
            align-items: end;
        }
    }
}
/